@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Primary';
    src: url('Font/Varino\ -\ Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary-color: #4E008E;
    --second-color: #3E0072;
    --third-color: #FF4C09;
    --fourth-color: #F2F2F2;
    --fifth-color: #00000073;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

body{
    width: 99%;
    height: 100vh;
    overflow-x: hidden;
}

a{
    color: var(--primary-color);
}

/* <-----------------Cabeçalho---------------> */
header{
    background: var(--primary-color);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    background: var(--fourth-color);
    color: var(--primary-color);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
}

header h2{
    font-family: "Baloo 2", sans-serif;
    font-weight: 500;
    font-size: 2em;
}
header h1{
    font-family: Primary;
    font-size: 3em;
}

header p{
    color: var(--fourth-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    text-align: justify;
    padding: 20px 20vw;
}

/* <-----------------Corpo---------------> */

main{
    background: var(--fourth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

#options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10vw;
    font-size: 0.8em;
}

.cardOption{
    background: var(--fourth-color);
    border-radius: 20px;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 20px 0 20px 0 ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--second-color);
    width: 200px;
    height: 250px;
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.452) ;
    transition: 0.5s;
}

.cardOption:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.cardOption *{
    transition: 0.5s;
}

.cardOption:hover *{
    transform: scale(0.95);
    transition: 0.5s;
}

.cardOption>label:first-child{
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.cardOption>div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardText{
    margin: 20px 20px;
    text-align: center;
}

#getLine{
    background: var(--fourth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#getArq{
    background: var(--fourth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: 1s;
    position: absolute;
    margin-top: 105px;
}

.card{
    background: var(--forth-color);
    display: flex;
    flex-direction: column;
    width: 80vw;
    transition: 1s;
    margin: 20px;
    min-height: 200px;
    transition: 0;
}
.card:first-child{
    background: var(--primary-color);
    width: 100vw;
    min-height: 420px;
}

#getArq>.cardButton{
    width: 150px;
    height: 35px;
}

.card>h2{
    background: var(--primary-color);
    color: var(--fourth-color);
    font-family: "Baloo 2", sans-serif;
    font-weight: 500;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 35px 0;
    z-index: 2;
}

.card:first-child>h2{
    padding: 35px 0 40px 0;
}

.busca{
    background: var(--primary-color);
    align-self: flex-end;
    margin-top: -35px;
    width: 370px;
    height: 60px;
    display: none;
    padding: 10px 5px;
    align-items: end;
    justify-content: space-around;
    color: var(--second-color);
    border-radius: 20px;
    transition: 1s ease-out;
    position: sticky !important;
    top: -25px;
    z-index: 1000;
    transform: none !important;
}
.search-counter{
    font-weight: 700;
    font-size: .9rem;
    color: var(--second-color);
    margin: 0 .2rem;
    min-width: 25px;
    z-index: 1;
    text-align: right;
}
.searchControls{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5px;
    left: -25px;
}

.barraBusca{
    background: var(--fourth-color);
    display: flex;
    padding: 0 5px 0 5px;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    height: 35px;
    border-radius: 30px;
}
.barraBusca label{
    text-align: center;
    transition: 0.2s;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
}
.barraBusca label:hover{
   color: var(--third-color);
   transition: 0.2s;
   transform: scale(1.02);
}

.inputBusca{
    background: transparent;
    padding: 8px 0;
    border: none;
    margin: 0 5px 0 5px;
    max-width: 135px;
    z-index: 2;
}
.inputBusca:focus{
    background: transparent;
    border: 0 none;
    outline: 0;
}
.barraBusca>label:hover{
   color: var(--third-color);
   transition: 0.2s;
   transform: scale(1.02);
}

.busca>.bi{
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 0;
    background: var(--fourth-color);
    transition: 0.2s;

}

.busca>.bi:hover{
    transition: 0.2s;
    color: var(--third-color);
}

#differAa.biPressed,
#searchWholeWord.biPressed,
#filterErrorsBtn.biPressed {
  transition: 0.2s;
  transform: scale(0.98);
  color: var(--third-color);
  box-sizing: border-box;
  background: var(--second-color) !important;
  border: 3px solid var(--third-color);
}


.card>div>input[type='text']{
    border: 3px solid var(--second-color);
    padding: 0 10px;
    width: 70%;
    height: 30px;
    border-radius: 20px;
}

#send{
    cursor: pointer;
    margin: 0 5px;
    background: transparent;
    border: 0;
    color: var(--second-color);
    font-size: 30px;
    transition: 0.25s;
    
}



#send:hover{
    transition: 0.25s;
    color: var(--third-color);
    transform: scale(1.03) rotate(180deg);
}

.cardButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 ;
    cursor: pointer;
    color: var(--primary-color);
    text-align: center;
    width: 70px;
    height: 60px;
    border: 3px solid var(--second-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.151) ;
    border-radius: 15px;
    transition: 0.15s;
}
.cardButton>.bi{
    position: relative;
    font-size: 1.2em;
    transition: 0.15s;
    -webkit-text-stroke-width: 1px;
}

.cardButton:hover{
    font-size: 15px;
    -webkit-text-stroke-width: 1px;
    color: var(--third-color);
    border: solid transparent;
    background: var(--primary-color);
    transition: 0.15s;
}

.cardButton:hover>.bi{
    transition: 0.15s;
    font-size: 1.8em;
}

ul>li>label{
    color: rgb(109, 69, 184);
}
ul>li{
    color: red;
    list-style-type: none;
}

.mini{
    color: black;
    font-size: 10px;
}

.bi-exclamation-triangle-fill{
    color: var(--third-color);
    -webkit-text-stroke-color: 0;
}

.containerTable{
    position: relative;
    border: 3px solid var(--second-color);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    min-width: 90%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTable .line-badge {
    position: absolute;
    right: 12px;
    bottom: 10px;
    font-weight: 700;
    font-size: .9rem;
}

.containerTable .line-badge label {
    color: var(--second-color);
}


.containerTable .lineNumber {
    color: var(--third-color);
    margin-left: 5px;
}

.responseLabel{
    display: flex;
    padding: 20px 0;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.responseLabel table{
    min-width: 90%;
    border-spacing: 0 5px;
    
}

.responseLabel table, tr td:not(.responseLabel table tr td:first-child){
    text-align: center;
}

.responseLabel table tr td {
    color: var(--second-color);
    text-align: end;
    width: 50%;
    border-bottom: 2px solid var(--third-color);
}

.responseLabel table tr:last-child td {
    color: var(--second-color);
    width: 50%;
    border-bottom: transparent;
    font-weight: 600;
}

.responseLabel table tr:nth-last-child(-n+3) td {
    color: var(--second-color);
    border-bottom: transparent;
}

.responseLabel table tr:first-child td {
    font-size: 2em;
    color: var(--second-color);
    width: 50%;
    border-bottom: transparent;
    font-weight: 600;
}

.responseLabel table tr:last-child td:last-child {
    color: var(--third-color);
}

.responseLabel table tr:first-child td:last-child {
    color: var(--third-color);
}

i .alert{
    background: var(--fourth-color);
    min-width: 200px;
    font-size: 0.8em;
    text-align: center;
    border: 2px solid var(--third-color);
    border-radius: 10px;
    padding: 2px;
    position: absolute;
    z-index: 10;
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.responseLabel table, tr td:not(.responseLabel table tr td:first-child):hover .problem:last-child i .alert{
    visibility: visible;
    opacity: 100%;
    transition: 0.3s;
}


